.btn {
  background-color: $blue;
  padding: 16px 35px;
  color: $white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.22);
  font-size: 20px;
  font-family: $font-plex;
  font-weight: 600;
  letter-spacing: 1.82px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  &.ghost {
    background-color: transparent;
    box-shadow: none;
    color: $black;
  }

  &:not(.ghost) {
    transition: all 250ms ease-in-out;
    &:active {
      outline: none;
      transform: translateY(1px);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.22);
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.cta-wrapper {
  margin-top: 60px;

  @media (max-width: $smscreen) {
    flex-direction: column;
    .cta .btn {
      margin-bottom: 20px;
    }
    .btn.ghost {
      padding: 16px 12px;
      text-align: left;
    }
  }
}
