.footer {
  .contact-form {
    padding-top: 116px;
    padding-bottom: 116px;
    background: $light-yellow;
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 90%;
      background: url('./images/curved_pattern.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }

    .contact-form--wrapper {
      #mc_embed_signup {
        width: 100%;
      }
      .title {
        font-family: $font-plex;
        color: $black;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 20px;
      }
      .body {
        font-family: $font-lato;
        font-size: 18px;
        letter-spacing: 1.64px;
        line-height: 1.44;
        max-width: 530px;
        margin-bottom: 40px;
      }
      form {
        #mc_embed_signup_scroll {
          @extend .flex-parent;
          @extend .flex-jc;
        }
        width: 100%;
        label[for='mce-EMAIL'] {
          display: none;
        }
        #mce-EMAIL {
          margin-right: 20px;
          padding: 16px 22px;
          background: $white;
          border-radius: 4px;
          border: 2px solid $lighter-grey;
          width: 100%;
          max-width: 360px;
          font-family: $font-plex;
          font-style: italic;
          color: $mid-grey;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 1.82px;
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.22);
          &::placeholder {
            color: $lighter-grey;
          }
          transition: border-color 250ms ease-in-out;
          &:focus {
            outline: none;
            border-color: $mid-grey;
          }
        }
        .indicates-required {
          display: none;
        }
        #mc-embedded-subscribe {
          @extend .btn;
        }
      }
    }
    @media (max-width: $smscreen + 120px) {
      padding-top: 82px;
      padding-bottom: 82px;
      .contact-form--wrapper {
        .title,
        .body {
          text-align: left;
        }
        .contact-form--wrapper {
          .title {
            font-size: 32px;
          }
          .body {
            font-size: 16px;
          }
        }
        form {
          #mc_embed_signup_scroll {
            flex-direction: column;
          }
          #mce-EMAIL {
            margin-bottom: 20px;
            width: 100%;
            max-width: unset;
            font-size: 16px;
            // padding: 12px 18px;
          }
        }
      }
    }
  }
  .footer-wrapper {
    background: $white;
    padding-top: 62px;
    padding-bottom: 62px;

    .logo-sitemap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .logo {
        width: 100%;
        max-width: 318px;
      }
      .sitemap {
        .sitemap-item {
          font-family: $font-lato;
          font-size: 20px;
          letter-spacing: 0.71px;
          color: $mid-grey;
          transition: color 250ms ease-in-out;
          &:hover,
          &:focus {
            color: $black;
          }

          &:not(:last-child) {
            margin-right: 25px;
          }
        }
      }
      @media (max-width: $lgscreen - 60px) {
        flex-direction: column;
        align-items: flex-start;
        .logo {
          margin-bottom: 20px;
        }
      }
      @media (max-width: $mdscreen) {
        .sitemap {
          flex-direction: column;
          .sitemap-item {
            display: block;
            font-size: 16px;
            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }
        }
      }
    }
    .about-social {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .about-sherman {
        max-width: 318px;
        .sherm-logo {
          width: 100%;
          max-width: 240px;
          margin-top: 16px;
        }
        .about-snippet {
          color: $light-grey;
          font-family: $font-lato;
          font-size: 12px;
          line-height: 1.416;
        }
      }
      .social-wrapper {
        display: flex;
        .social-item {
          width: 48px;
          height: 48px;
          background: $social-grey;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          transition: background-color 200ms ease-in-out;

          &:hover,
          &:focus {
            background: $blue;
            .social-icon {
              transform: scale(1.075);
            }
          }

          &:not(:last-child) {
            margin-right: 24px;
          }

          .social-icon {
            width: 13px;
            margin-right: 1px;
            transition: transform 200ms ease-out;
            &.twitter,
            &.instagram {
              width: 22px;
            }
            &.gmail,
            &.youtube {
              width: 24px;
            }
          }
        }
      }
      @media (max-width: $mdscreen) {
        flex-direction: column;
        .about-sherman {
          margin-bottom: 32px;
        }
        .social-wrapper .social-item {
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
