{% extends "base.twig" %} {% block content %}
<section id="team-hero">
  <div class="content-wrapper pad">
    <h1 class="text--h1 title">
      The team behind Generate
    </h1>
  </div>
</section>
{% endblock %}
