{% extends "base.twig" %} {% block content %}
<section class="not-found--wrapper flex-parent pad flex-ac flex-jc">
  <div class="not-found--wrapper--content flex-parent flex-col flex-ac flex-jc">
    <img
      src="{{ theme.link }}/images/404.svg"
      class="not-found--404"
      aria-label="404"
    />
    <p class="text--body not-found--body text-center">
      There doesn't seem to be anything here. Click
      <a href="/" class="underline-link link-blue">here</a>
      to go back home!
    </p>
  </div>
</section>
{% endblock %}
