.about--hero--content-wrapper {
  & + .banner--img {
    margin-top: 80px;
    margin-bottom: 170px;

    @media (max-width: $smscreen) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
}

#mission {
  &::before {
    z-index: -1;
    content: ' ';
    position: absolute;
    top: -171px;
    width: 100%;
    right: 0;
    max-width: 1100px;
    padding-top: 60vw;
    background: url('./images/yellow_slant.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px bottom;
    transform: scale(-1 -1);
    @media (max-width: $smscreen) {
      top: -61px;
      background-size: 100%;
    }
  }
}

#about--team-roster {
  .heading-content {
    .title {
      margin-bottom: 105px;
      @media (max-width: $mdscreen) {
        text-align: left;
        margin-bottom: 60px;
      }
    }
  }
}

.about--teams--content-wrapper {
  .img-wrapper {
    width: 520px;
    position: relative;
    height: 411px;
    background-size: cover;
    background-position: center top;
    @media (max-width: $mdscreen) {
      width: 100%;
    }
    @media (max-width: $smscreen) {
      height: 90vw;
    }
  }
}
