#about-hero {
  position: relative;
  &::before,
  &::after {
    z-index: -1;
    content: ' ';
    position: absolute;
    background-image: radial-gradient($blue $dot-size, transparent 0),
      radial-gradient($blue $dot-size, transparent 0);
    background-size: $dot-space $dot-space;
    opacity: 0.2;
    height: 120px;
  }
  // top left
  &::before {
    width: 70%;
    max-width: 340px;
    top: -50px;
    left: 0;
  }
  // bottom right
  &::after {
    width: 70%;
    max-width: 460px;
    top: 50px;
    right: 0;
    @media (max-width: $mdscreen) {
      content: none;
    }
  }
}

.about--hero--content-wrapper {
  & + .banner--img {
    margin-top: 80px;
    margin-bottom: 170px;

    @media (max-width: $smscreen) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
}

#mission {
  &::before {
    z-index: -1;
    content: ' ';
    position: absolute;
    top: -171px;
    width: 100%;
    right: 0;
    max-width: 1100px;
    padding-top: 60vw;
    background: url('./images/yellow_slant.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px bottom;
    transform: scale(-1 -1);
    @media (max-width: $smscreen) {
      top: -61px;
      background-size: 100%;
    }
  }
}

#about--team-roster {
  .heading-content {
    .title {
      margin-bottom: 105px;
      @media (max-width: $mdscreen) {
        text-align: left;
        margin-bottom: 60px;
      }
    }
  }
}

.about--teams--content-wrapper {
  .img-wrapper {
    width: 520px;
    position: relative;
    height: 411px;
    background-size: cover;
    background-position: center top;
    @media (max-width: $mdscreen) {
      width: 100%;
    }
    @media (max-width: $smscreen) {
      height: 90vw;
    }

    &::before {
      z-index: -1;
      content: ' ';
      position: absolute;
      top: -15%;
      width: 120%;
      right: 0%;
      height: 120%;
      background: url('./images/yellow-triangle.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
      @media (max-width: $mdscreen) {
        content: none;
      }
    }
  }
}

.about--employer--section {
  margin-top: 172px;
  @media (max-width: $mdscreen) {
    margin-top: 100px;
  }
  .heading-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 702px;
    box-sizing: content-box;
    .title {
      margin-bottom: 62px;
      font-size: 52px;
      @media (max-width: $smscreen) {
        font-size: 44px;
        margin-bottom: 32px;
      }
    }
  }
  .employer--section--carousel {
    margin-top: 131px;
    margin-bottom: 161px;
    overflow: hidden;
    position: relative;
    .employer--section--carousel-wrapper {
      will-change: transform;
      .employer--logo {
        height: 150px;
        margin-right: 100px;
        filter: grayscale(1);
        transition: all 250ms ease-in-out;
        &:hover {
          filter: grayscale(0);
        }

        @media (max-width: $mdscreen) {
          height: 100px;
        }
      }
    }
  }
}
